<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for speech + storage -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- Optional: only if reading files outside app folder -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->

    <!-- Optional: legacy devices only -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalkBuddy">


        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".ReadActivity1"
            android:exported="false" />
        <activity
            android:name=".ReadActivity2"
            android:exported="false" />
        <activity
            android:name=".ReadActivity3"
            android:exported="false" />
        <activity
            android:name=".ReadActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".SpkActivity1"
            android:exported="false" />
        <activity
            android:name=".SpkActivity2"
            android:exported="false" />
        <activity
            android:name=".SpkActivity3"
            android:exported="false" />
        <activity
            android:name=".SpkActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".LisActivity1"
            android:exported="false" />
        <activity
            android:name=".LisActivity2"
            android:exported="false" />
        <activity
            android:name=".LisActivity3"
            android:exported="false" />
        <activity
            android:name=".LisActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <!-- <activity
            android:name=".DashboardActivity2"
            android:exported="false" /> -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 👇 Added Voice Assistant Activity -->
        <activity
            android:name=".VoiceAssistantActivity"
            android:exported="false" />

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    </application>

</manifest>
